.agofolio-page {
  background-repeat: no-repeat;
  background-size: cover;
}

#agofolio-1 {
  background-image: url(./images/01.jpg);
}

// #agofolio-2 {
//   // color: red;
//   // .agofolio-content {
//   //   background-image: url(./images/bb.png);
//   // }
// }

// #agofolio-3 {
//   background-image: url(./images/02.jpg);
//   color: white;
// }

// #agofolio-4 {
// }

#agofolio-5 {
  background-image: url(./images/02.jpg);
  color: white;
  // .agofolio-content {
  //   background-image: url(./images/bb.png);
  //   background-attachment: fixed;
  // }
}
